// inread-vast-video
.in-read-vast-player-holder {
  iframe {
    display: block;
  }
  .video-inread-wrap {
    max-height: 0;
    overflow: hidden;
    transition: all 1s;
    position: relative;
    overflow: hidden;
  }
  .video-inread-wrap.expanded {
    max-height: 1000px;
  }
  .video-inread-wrap .poster-button {
    display: none;
    position: absolute;
    width: 111px;
    height: 111px;
    background-repeat: no-repeat;
    background-size: cover;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
  .video-inread-wrap.paused .poster-button {
    display: block;
  }
  .video-inread-wrap video#video-inread {
    width: 100%;
    height: auto;
    margin: 0;
  }
}

.ivv-ad-notation {
  border-bottom: 1px solid #999999;
  margin-bottom: 1rem;
  margin-top: 1rem;
  height: 0px;
  position: relative;
  overflow: visible;
  &:after {
    content: 'Advertisement';
    font-size: 13px;
    line-height: 12px;
    color: #999999;
    position: absolute;
    left: 50%;
    top: 0;
    padding: .7rem;
    background-color: white;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 800px) {
  .ivv-ad-notation {
    border-bottom: 1px solid #ccc;
    &:after {
      color: #787878;
      font-family: "Noto Kufi Arabic", "Noto Serif", serif;
      font-size: 0.875rem;
    }
  }
}
.ivv-video-wrap {
  position: relative;
  .ivv-skip-ad {
    display: none;
    position: absolute;
    bottom: 10px;
    right: 4px;
    text-decoration: none;
    &:after {
      color: white;
      font-size: 1rem;
      font-weight: bold;
      text-shadow: 0px 0px 2px black;
      text-decoration: none;
    }
    &:hover {
      text-decoration: none;
    }
  }
  .ivv-skip-ad.ivv-visible {
    display: block;
  }
}
.ivv-skip-ad:after {
  content: 'Skip Ad >>>';
}
.ivv-ctb {
  $height: 30px;
  width: 100%;
  height: $height;
  background-color: #545454;
  color: white;
  text-align: center;
  margin-bottom: 1rem;
  &:after {
    content: 'Find out more';
    color: white;
    font-size: 1rem;
    font-weight: bold;
    //text-shadow: 0px 0px 2px black;
    text-decoration: none;
  }
  &:after {
    content: 'إكتشفي المزيد';
  }
}
.ivv-speaker {
  position: absolute;
  left: 1px;
  bottom: 0px;
  display: block;
  padding: 30px 25px 8px 2.5%;
  text-decoration: none;
  &:after {
    font-family: VideoJS;
    font-weight: normal;
    color: white;
    font-size: 1.2rem;
    content: "\e006";
    text-shadow: 0px 0px 2px black;
    text-decoration: none;
  }
}
.video-inread-wrap.muted .ivv-speaker:after {
  content: "\e003";
}


.ivv-poster-button {
  background-image: url(/assets/images/desktop-video-play-btn.png);
}
