#mainContainer {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
}

p {
  font-size: 24px;
}

#ad-in-read-holder {
  max-height: 0;
  overflow: hidden;
  transition: all 1s;
  position: relative;
}

#ad-in-read-holder.expanded {
  max-height: 1000px;
}

#ad-in-read-holder .poster-button {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
#ad-in-read-holder.paused .poster-button {
  display: block;
}

#ad-in-read-holder video#video-inread {
  width: 100%;
  height: auto;
  margin: 0;
}

