@charset "UTF-8";
/* line 3, style.scss */
.in-read-vast-player-holder iframe {
  display: block;
}
/* line 6, style.scss */
.in-read-vast-player-holder .video-inread-wrap {
  max-height: 0;
  overflow: hidden;
  transition: all 1s;
  position: relative;
  overflow: hidden;
}
/* line 13, style.scss */
.in-read-vast-player-holder .video-inread-wrap.expanded {
  max-height: 1000px;
}
/* line 16, style.scss */
.in-read-vast-player-holder .video-inread-wrap .poster-button {
  display: none;
  position: absolute;
  width: 111px;
  height: 111px;
  background-repeat: no-repeat;
  background-size: cover;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 29, style.scss */
.in-read-vast-player-holder .video-inread-wrap.paused .poster-button {
  display: block;
}
/* line 32, style.scss */
.in-read-vast-player-holder .video-inread-wrap video#video-inread {
  width: 100%;
  height: auto;
  margin: 0;
}

/* line 39, style.scss */
.ivv-ad-notation {
  border-bottom: 1px solid #999999;
  margin-bottom: 1rem;
  margin-top: 1rem;
  height: 0px;
  position: relative;
  overflow: visible;
}
/* line 46, style.scss */
.ivv-ad-notation:after {
  content: 'Advertisement';
  font-size: 13px;
  line-height: 12px;
  color: #999999;
  position: absolute;
  left: 50%;
  top: 0;
  padding: .7rem;
  background-color: white;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (max-width: 800px) {
  /* line 62, style.scss */
  .ivv-ad-notation {
    border-bottom: 1px solid #ccc;
  }
  /* line 64, style.scss */
  .ivv-ad-notation:after {
    color: #787878;
    font-family: "Noto Kufi Arabic", "Noto Serif", serif;
    font-size: 0.875rem;
  }
}
/* line 71, style.scss */
.ivv-video-wrap {
  position: relative;
}
/* line 73, style.scss */
.ivv-video-wrap .ivv-skip-ad {
  display: none;
  position: absolute;
  bottom: 10px;
  right: 4px;
  text-decoration: none;
}
/* line 79, style.scss */
.ivv-video-wrap .ivv-skip-ad:after {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-shadow: 0px 0px 2px black;
  text-decoration: none;
}
/* line 86, style.scss */
.ivv-video-wrap .ivv-skip-ad:hover {
  text-decoration: none;
}
/* line 90, style.scss */
.ivv-video-wrap .ivv-skip-ad.ivv-visible {
  display: block;
}

/* line 94, style.scss */
.ivv-skip-ad:after {
  content: 'Skip Ad >>>';
}

/* line 97, style.scss */
.ivv-ctb {
  width: 100%;
  height: 30px;
  background-color: #545454;
  color: white;
  text-align: center;
  margin-bottom: 1rem;
}
/* line 105, style.scss */
.ivv-ctb:after {
  content: 'Find out more';
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
}
/* line 113, style.scss */
.ivv-ctb:after {
  content: 'إكتشفي المزيد';
}

/* line 119, style.scss */
.ivv-poster-button {
  background-image: url(/assets/images/desktop-video-play-btn.png);
}
